/* You can add global styles to this file, and also import other style files */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 3rem;
}
.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0.5em;
}
